# Regular Lab Questions - I

> Nitish Kumar Mahto

> 2347242

### Q.1

In [38]:
paragraph = "Hii this is Nitish Kumar Mahto. My reg. no. is 2347242. I am a 1st year student at Christ University and enrolled in MCA program. My domain name is BankingManagementSystem . In this BankingManagementSystem ,i'm mainly focused towards account management, transaction processing, customer relationship management, security protocols, and more. The various attributes in my domain named BankingManagementSystem are customer name, account number, Loan, Security, transactions, etc and in this BankingManagementSystem we are mainly cocern towards security and ease of customer"

print("Number of times the word 'BankingManagementSystem' comes is : ")
print(paragraph.count("BankingManagementSystem"))

Number of times the word 'BankingManagementSystem' comes is :
4

### Q.2

In [29]:
data = {
    "Name": "Nitish Kumar Mahto",
    "Reg. No.": 2347242,
    "Domain": "Banking Management System",
    "Course": "MCA",
}
for y in data:
    print("Datatype of ", y, ":", type(data[y]))

Datatype of  Name : <class 'str'>
Datatype of  Reg. No. : <class 'int'>
Datatype of  Domain : <class 'str'>
Datatype of  Course : <class 'str'>

### Q.3

In [31]:

paragraph = "Hii this is Nitish Kumar Mahto. My reg. no. is 2347242. I am a 1st year student at Christ University and enrolled in MCA program. My domain name is Banking Management System. Here i'm mainly focused towards account management, transaction processing, customer relationship management, security protocols, and more. The various attributes in my domain are customer name, account number, Loan, Security, transactions, etc"
count = {"Integers": 0, "Alphabets": 0, "Special Characters": 0}

for x in paragraph:
    if x.isalpha():
        count["Alphabets"] += 1
    elif x.isdigit():
        count["Integers"] += 1
    elif not x.isspace():
        count["Special Characters"] += 1

for x in count:
    print("Number of times", x, "comes =", count[x])

Number of times Integers comes = 8
Number of times Alphabets comes = 332
Number of times Special Characters comes = 17

## sets and tuples

### Q.4

In [32]:
"""
INSIGTHS
Boolean value is not counted as a part of the set
The pop() randomly removes any element in a set and also returns the same.
Then discard() removes a particular element from the set and doesnt give any error is element not found
The clear() deletes all elements of the set and makes it empty
del deletes the set from memory and can't be accessed any further
"""

setdata = {2, 2.5, "Nitish", True}

print(setdata)

setdata.pop()
print(setdata)

setdata.discard("Nitish")
print(setdata)

setdata.clear()
print(setdata)

del setdata
print(setdata)

{True, 2, 2.5, 'Nitish'}
{2, 2.5, 'Nitish'}
{2, 2.5}
set()

NameError: name 'setdata' is not defined

### Q.5

In [33]:
# DESCENDING ORDER

setdata = {"Customer", "Transacton", "Account", "Loan", "Security"}
print("Default values:", setdata)

setdata_descending = sorted(setdata, reverse=True)

print("Datas of Set in Descending Order:", setdata_descending)

Default values: {'Transacton', 'Loan', 'Customer', 'Security', 'Account'}
Datas of Set in Descending Order: ['Transacton', 'Security', 'Loan', 'Customer', 'Account']

### Q.6

In [18]:
# TUPLE PACKING UNPACKING

domain_tuple = "Customer", "Transacton", "Account", "Loan", "Security"
print("Packed Tuple:", domain_tuple)

attribute1, attribute2, attribute3, attribute4, attribute5 = domain_tuple
print("\nUnpacked Attributes:")
print("Attribute 1:", attribute1)
print("Attribute 2:", attribute2)
print("Attribute 3:", attribute3)
print("Attribute 4:", attribute4)
print("Attribute 5:", attribute5)

# or

domain_tuple = ("Customer", "Transacton", "Account", "Loan", "Security")
listdata = list(domain_tuple)
for i in domain_tuple:
    print(i)

# or

domain_tuple = ("Customer", "Transacton", "Account", "Loan", "Security")
listdata = list(domain_tuple)
for x in listdata:
    print(x)

Packed Tuple: ('Customer', 'Transacton', 'Account', 'Loan', 'Security')

Unpacked Attributes:
Attribute 1: Customer
Attribute 2: Transacton
Attribute 3: Account
Attribute 4: Loan
Attribute 5: Security
Customer
Transacton
Account
Loan
Security
Customer
Transacton
Account
Loan
Security

### Q.7

In [19]:
# LETTER COUNT

Domain = "Banking Management System"
count = 0
for x in Domain:
    if x == "S":
        count += 1

print("The number of 'S' in Domain is : ", count)

The number of 'S' in Domain is :  1

### Q.8

In [20]:
# SLICING

Domain = "Banking Management System"
print(Domain[0 : len(Domain)])
print(Domain[0 : len(Domain) : 2])
print(Domain[len(Domain) - 1 : 0 : -1])
print(Domain[-len(Domain) : -1])
print(Domain[::-1])

Banking Management System
metsyS tnemeganaM gniknaB
BnigMngmn ytm
metsyS tnemeganaM gnikna
Banking Management Syste
metsyS tnemeganaM gniknaB